<div>
    <div class="home-image">
        <img src="{{imageUrl}}" alt="Card image cap">
    </div>
    <div class="info">
        <h4>{{title}}</h4>
        {{#if user}}
        <div class="info-buttons">
            <a class="btn details" href="/products/details/{{_id}}">Details</a>
            <span class="likes" style="color: rgb(89, 0, 255);">
                <h1>{{usersLiked.length}} likes</h1>
            </span>
        </div>
        {{/if}}
    </div>
</div>